{% extends 'base/page.html' %}

{% block content %}
<h1>Removal log</h1>

<dl>
{% for removal in removals %}
    <dt style="font-size: small">{{ removal['entry_added'] }}</dt>
    <dd>
        <pre>{{ debian_bugs_markup(removal['reason']) }}</pre>
        <p style="font-size: x-small"><a href="{{ removal['removal_log_id'] }}">[affected files]</a></p>
    </dd>
{% endfor %}
</dl>
{% endblock content %}
