{% extends 'base/page.html' %}

{% block content %}
<h1>Source package {{ src }}</h1>
<p>
Available versions:
</p>
<ul>
    {% for entry in sourceversions %}
    <li><a href="{{ entry['quoted'] }}/">{{ entry['raw'] }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}
