{% extends 'base/page.html' %}

{% block content %}
<h1>Source package {{ src }} {{ version }}</h1>
<h3>Source files</h3>
<dl>
    {% for hash in sourcefiles %}
        <dt style="font-size: x-small"><code>{{ hash }}</code>:</dt>
        {% if hash in fileinfo %}
            <dd>
                <dl>
                {% for info in fileinfo[hash] %}
                    <dt><a href="{{ info['link'] }}"><code style="font-size: x-large"><strong>{{ info['name'] }}</strong></code></a></dt>
                    <dd>
                        Seen in {{ info['archive_name'] }} on {{ info['run'] }} in
                        {% if 'dirlink' in info %}
                            <a href="{{ info['dirlink'] }}">{{ info['path'] }}</a>.
                        {% else %}
                            {{ info['path'] }}.
                        {% endif %}
                        <br />
                        Size: {{ info['size'] }}
                    </dd>
                {% endfor %}
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>
<h2><a name="binpkgs">Binary packages</a></h2>
    <ul>
    {% for binpkg in binpkgs %}
        <li><a href="#{{ binpkg['escaped_name'] }}_{{ binpkg['escaped_version'] }}">{{ binpkg['name'] }} {{ binpkg['version'] }}</a></li>
    {% endfor %}
    </ul>
    {% for binpkg in binpkgs %}
        <h3><a name="{{ binpkg['escaped_name'] }}_{{ binpkg['escaped_version'] }}">{{ binpkg['name'] }} {{ binpkg['version'] }}</a></h3>
        <div style="font-size: x-small"><a href="#top">top</a> - <a href="#binpkgs">up to binary packages</a></div>
        <dl>
            {% for hash in binpkg['files'] %}
                <dt style="font-size: x-small"><code>{{ hash }}</code>:</dt>
                {% if hash in fileinfo %}
                    <dd>
                        <dl>
                        {% for info in fileinfo[hash] %}
                            <dt><a href="{{ info['link'] }}"><code style="font-size: large"><strong>{{ info['name'] }}</strong></code></a></dt>
                            <dd>
                                Seen in {{ info['archive_name'] }} on {{ info['run'] }} in
                                {% if 'dirlink' in info %}
                                    <a href="{{ info['dirlink'] }}">{{ info['path'] }}</a>.
                                {% else %}
                                    {{ info['path'] }}.
                                {% endif %}
                                <br />
                                Size: {{ info['size'] }}
                            </dd>
                        {% endfor %}
                        </dl>
                    </dd>
                {% endif %}
            {% endfor %}
        </dl>
    {% endfor %}
{% endblock content %}
