{% extends 'base/page.html' %}

{% block content %}
<div class="timeline">
    {% if nav['first'] != run['run'] %}
        <acronym title="{{ nav['first'] }}"><a href="{{ nav['first_link'] }}">first</a></acronym>
        {% if nav['prev_change'] %}
            {% if nav['prev_change'] == nav['first'] %}
                &nbsp;&nbsp; = &nbsp;&nbsp;
            {% else %}
                &nbsp;&nbsp; | &nbsp;&nbsp;
            {% endif %}
            <acronym title="{{ nav['prev_change'] }}"><a href="{{ nav['prev_change_link'] }}">prev change</a></acronym>
            {% if nav['prev'] == nav['prev_change'] %}
                &nbsp;&nbsp; = &nbsp;&nbsp;
            {% else %}
                &nbsp;&nbsp; | &nbsp;&nbsp;
            {% endif %}
        {% else %}
            {% if nav['prev'] == nav['first'] %}
                &nbsp;&nbsp; = &nbsp;&nbsp;
            {% else %}
                &nbsp;&nbsp; | &nbsp;&nbsp;
            {% endif %}
        {% endif %}
        <acronym title="{{ nav['prev'] }}"><a href="{{ nav['prev_link'] }}">prev</a></acronym>
    {% else %}
        No previous version of this directory available.
    {% endif %}
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <strong>{{ run['run'] }}</strong>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    {% if nav['last'] != run['run'] %}
        <acronym title="{{ nav['next'] }}"><a href="{{ nav['next_link'] }}">next</a></acronym>
        {% if nav['next_change'] %}
            {% if nav['next'] == nav['next_change'] %}
                &nbsp;&nbsp; = &nbsp;&nbsp;
            {% else %}
                &nbsp;&nbsp; | &nbsp;&nbsp;
            {% endif %}
            <acronym title="{{ nav['next_change'] }}"><a href="{{ nav['next_change_link'] }}">next change</a></acronym>
            {% if nav['next_change'] == nav['last'] %}
                &nbsp;&nbsp; = &nbsp;&nbsp;
            {% else %}
                &nbsp;&nbsp; | &nbsp;&nbsp;
            {% endif %}
        {% else %}
            {% if nav['next'] == nav['last'] %}
                &nbsp;&nbsp; = &nbsp;&nbsp;
            {% else %}
                &nbsp;&nbsp; | &nbsp;&nbsp;
            {% endif %}
        {% endif %}
        <acronym title="{{ nav['last'] }}"><a href="{{ nav['last_link'] }}">last</a></acronym>
    {% else %}
        No later version of this directory available.
    {% endif %}
</div>

<table class="readdir">
    {% if nodes %}
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th style='text-align: right'>Size</th>
                <th>first seen</th>
{#                <th>last seen</th> #}
            </tr>
        {% for entry in nodes %}
            <tr>
                <td>{{ entry['filetype'] }}</td>
                {% if entry['filetype'] == 'd' %}
                    <td colspan="2"><a href="{{ entry['quoted_name'] }}/">{{ entry['name'] }}/</a></td>
                {% elif entry['filetype'] == '-' %}
                    <td><a href="{{ entry['quoted_name'] }}">{{ entry['name'] }}</a></td>
                    <td style='text-align: right'>{{ entry['size'] }}</td>
                {% elif entry['filetype'] == 'l' %}
                    <td colspan="2">
                        <a href="{{ entry['quoted_name'] }}">{{ entry['name'] }}</a> -&gt;
                        <a href="{{ entry['quoted_target'] }}">{{ entry['target'] }}</a>
                    </td>
                {% else %}
                    <td colspan="2">
                        Unknown filetype {{ entry }}
                    </td>
                {% endif %}
                <td>
                    {% if entry['first_run'] %}
                        {{ entry['first_run'] }}
                    {% endif %}
                </td>
{#                <td>
##                    {% if entry['last_run'] %}
##                        {{ entry['last_run'] }}
##                    {% endif %}
##                </td> #}
{#                ## debugging only #}
{#                {% if entry['filetype'] == '-' %}
##                    <td>{{ entry['digest'] }}</td>
##                {% endif %} #}
            </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock %}
